<body class="h-100">

  <div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
    <app-main-sidebar></app-main-sidebar>
      <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
          <!-- Main Navbar -->
        <app-main-navbar></app-main-navbar>
        </div>
        <!-- / .main-navbar -->
        <div class="main-content-container container-fluid px-4">
          <br><br>
         <app-main-content></app-main-content>
       
        </div>
      
      </main>
    </div>
  </div>


  
</body>