
  .login-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
  }
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .form-signin {
      width: 100%;
      max-width: 430px;
      padding: 15px;
      margin: 0 auto;
  }
  
  .form-signin .form-control {
      position: relative;
  }
  
  .form-signin .form-control:focus {
      z-index: 2;
  }
  
  #mid {
    text-align: center;
  }


  .is-invalid {
      border-color: red;
  }