<div class="container pt-5">
  <div class="mx-auto card login-form" style="width: 450px">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
        <img class="mb-4 mx-auto d-block logo" src="../../../assets/images/financial-house-logo.png" alt="Logo"
          width="250">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" class="form-control" id="email">
          <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
            <div *ngIf="f.email.errors?.required">Email is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="pswd">Password:</label>
          <input id="password" type="password" formControlName="password" class="form-control" name="password">
          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
            <div *ngIf="f.password.errors?.required">Password is required</div>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button type="submit" class="btn btn-block btn-primary">Login</button>

        <p id="mid" class="text-muted pt-5">Financial House @2020</p>
      </form>
    </div>
  </div>
</div>